.frontheadcol{
    
    font-weight: bolder;
    background: linear-gradient(87deg, #5a4bda, #eb427e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
}